//- vim: sw=2

extends layout

block content
  h1= title
  p Welcome to #{title}
  
  hr/
  p Asset list
  table
    tr
      th
        div() #
      th
        div() assetId
      th
        div() issueAddress
    each a, i in assets
      tr
        td 
          div() #{i}
        td 
          div() #{a.assetId}
        td 
          div() #{a.issueAddress}

  br/
  hr/
  p Issue asset

  form(action="/issue", enctype="application/x-www-form-urlencoded", method="post")
    table
      tr
        td
          div() name
        td
          input(type="text", name="name")
      tr
        td
          div() amount
        td
          input(type="text", name="amount")
    br/
    input(type="submit", value="Issue asset")

  br/
  hr/
  p Send asset

  form(action="/send", enctype="application/x-www-form-urlencoded", method="post")
    table
      tr
        td
          div() assetId
        td
          input(type="text", name="assetId")
      tr
        td
          div() qty
        td
          input(type="text", name="qty")
      tr
        td
          div() toAddr
        td
          input(type="text", name="toAddr")
    br/
    input(type="submit", value="Send asset")

