doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    h1 My test-site
    .container
        .main-content
            block content
//        .sidebar
//            .widget
//              h1 Widget
//              p
//                | Sed auctor neque eu tellus rhoncus ut
//                | eleifend nibh porttitor. Ut in nulla enim.
//              p
//                | Vivamus hendrerit arcu sed erat molestie
//                | vehicula.
    footer
        p Running on node with Express, Consolidate, Jade and Stylus
