//- vim: sw=2

doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Consolidate, Jade and Stylus
